<aside class="sidebar">

    <div class="brand">
        <div class="brand-icon">🛒</div>
        <div>
            <h2>POS</h2>
            <span>INVENTARIO</span>
        </div>
    </div>

    <div class="user-box">
        <div class="avatar">👤</div>
        <div>
            <strong>{{ current_user.nombre_completo }}</strong>
            <span>{{ current_user.rol.nombre }}</span>
        </div>
    </div>

    <nav class="menu">
        <a href="{{ url_for('dashboard.dashboard') }}" class="active">🏠 Dashboard</a>
        <a href="{{ url_for('venta.historial') }}">🛒 Ventas</a>
        <a href="{{ url_for('producto.lista') }}">📦 Productos</a>
        <a href="{{ url_for('compra.lista') }}">🧾 Compras</a>
        <a href="{{ url_for('inventario.lista') }}">📊 Inventario</a>
        <a href="{{ url_for('proveedor.lista') }}">🚚 Proveedores</a>
        <a href="{{ url_for('reporte.index') }}">📈 Reportes</a>
        <a href="{{ url_for('usuario.lista') }}">👥 Usuarios</a>
        <a href="{{ url_for('configuracion.index') }}">⚙ Configuración</a>
    </nav>

    <a class="logout" href="{{ url_for('auth.logout') }}">🚪 Cerrar Sesión</a>

</aside>